* {
    outline: 1px solid red;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-body);
    line-height: 1.6;
}

.container {

    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 24px;
}

section {

    padding: var(--section-padding) 0;
}

h1,
h2,
h3,
h4 {

    font-family: var(--font-title);
    font-weight: 400;
}