.header {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 30px 0;
}

.header__nav {

    display: flex;
    align-items: center;
   
}

.header__menu {

    flex: 0.4;
    display: flex;
    justify-content: space-between;
    
}

.header__menu a {

    color: var(--color-text);
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 1px;
   
}

.header__menu a:hover {

    color: var(--color-background);
    background-color: var(--color-gold);

}

.header__logo {

    flex: 0.7;
    text-align: center;
    margin-right: 15px;
}

.header__logo h2 {

    font-size: 2rem;
    color: var(--color-text);
}

.header__logo span {

    font-size: 0.75rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--color-gold)
}

.header__button {

    padding: 14px 28px;
    border: 1px solid var(--color-gold);
    color: var(--color-text);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    font-size: 14px;
    margin-left: auto;
    width: auto;
    max-width: none;
    

}

.header__button:hover {

    background-color: var(--color-gold);
    color: var(--color-background);
}

.section-header__title {

    text-transform: uppercase;
    letter-spacing: 2px;
}